*
    box-sizing: border-box
    margin: 0
    bottom: 0
.wrapper
    width: 100%
    display: flex
    justify-content: center
.wrap
    width: 100%
    max-width: 1360px
    padding: 50px 15px
.page-title
    font-size: 28px
    margin-bottom: 20px
    text-transform: uppercase
    padding-left: 10px
body
    padding-bottom: 100vh
    font-family: Trebuchet MS, Helvetica, sans-serif
    line-height: 1.6
    background-color: rgba(242, 242, 242, 0.7)
    overflow-x: hidden

a
    text-decoration: none
    text-transform: none

.gr__tooltip
    display: none!important